html,
body{
  height: 100%;
}
body{
  color: #436372;
  @extend %rubik-500;
  display: flex;
  flex-direction: column;
}

.main{
  flex-grow: 1;
}

.container{
  max-width: 100%;
  padding: 10px 75px;
  margin: 0;
}

.title{
  color: #191919;
  font-size: 36px;
  line-height: 40px;
  @extend %dmsans-700;
  display: flex;
  justify-content: center;
}
.arrow__btn{
  border: none;
  background-color: $btn-grey;
  max-width: 200px;
  padding: 20px 95px 20px 20px;
  position: relative;
  color: #fff;
  &::after{
    content: '';
    position: absolute;
    background-image: url('../images/icons/arrow-right.png');
    width: 22px;
    height: 9px;
    right: 20px;
    top: 23px;
  }
}
.filter-btn{
  border: none;
  background-color: transparent;
  @extend %dmsans-500;
  font-size: 16px;
  color: $grey;
  cursor: pointer;
  padding: 0;
  & + .filter-btn{
      margin-left: 25px;
  }
}

.top{
  background-color: #edf1f4;
  @extend %rubik-400;
  &__inner{
    padding: 30px 0;
    text-align: center;
  }
  &__title{
    font-size: 36px;
    margin-bottom: 17px;
  }
}
.breadcrumbs{
  display: inline-flex;
  &__item{
    font-size: 14px;
    line-height: 24px;
    padding-right: 20px;
    position: relative;
    @extend %rubik-500;
  }
  &__item::after{
    content: "/";
    position: absolute;
    right: 9px;
  }
  &__item:last-child{
    padding-right: 0;
    &::after{
      display: none;
    }
  }
  &__link{
    color: $title-grey;
  }
}
.partners{
  background-color: $ocher-bim;
  padding: 80px 375px;
  &__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

}