%rubik-400{
    font-family: 'Rubik-Regular', sans-serif;
    font-weight: 400;
} 

%rubik-500{
    font-family: 'Rubik-Medium', sans-serif;
    font-weight: 500;
} 

%dmsans-400{
    font-family: 'DMSans-Regular', sans-serif;
    font-weight: 400;
} 

%dmsans-500{
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 500;
} 

%dmsans-700{
    font-family: 'DMSans-Medium', sans-serif;
    font-weight: 700;
} 

$grey: #7b7b7b;
$title-grey: #436372;
$btn-grey: #a3bbc8;
$ocher-bim: #fef7f0;
$ocher-bright: #fcd7b6;

%checkbox-hidden{
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(0 0 0 0);
    position: absolute;
}