@import 'vars';
@import 'fonts';
@import 'reset';
@import 'global';

.header{
    padding: 45px 0;
    @extend %dmsans-700;
    &__inner{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}
.logo{
    display: flex;
    align-items: center;
    &__text{
        font-size: 36px;
        line-height: 56px;
        padding-left: 15px;
        color: #436372;
    }
}

.menu{
    &__list{
        display: flex;
    }
    &__list-item + .menu__list-item{
        margin-left: 30px;
    }
    &__list-link{
        color: #436372;
    }
}

.goods__item{
    position: relative;
}

.user-nav{
    &__items{
        display: flex;
    }
    &__num{
        position: absolute;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        background-color: #fff;
        top: -5px;
        right: -9px;
        text-align: center;
        font-size: 12px;
        line-height: 16px;
        @extend %dmsans-400;
    }
}
.user-nav__item-search,
.user-nav__item-goods,
.user-nav__item-menu
{
    background-color: #edf1f4;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.user-nav__item-goods{
    margin-left: 18px;
    width: 180px;
    border-radius: 25px;
    background-color: #fcd7b6;
    justify-content: space-evenly;
}
.user-nav__item-menu{
    margin-left: 18px;
    background-color: #a3bbc8;
}




@import 'media';